a {
	text-decoration: none;
}

.login-page {
	width: 100%;
	height: 100vh;
	display: inline-block;
	display: flex;
	align-items: center;
}

.form-right i {
	font-size: 100px;
}

.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* Center-align the content within each cell */
.center-align {
	text-align: center;
}

/* Center-align the text within each cell (if needed) */
.center-text {
	justify-content: center;
}

.custom-filter {
	width: 100%;
	box-sizing: border-box;
}